{
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "flowtype/generic-spacing": 0,
    "flowtype/space-after-type-colon": 0,
    "no-console": 1,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "t"
        ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "sort-imports": [
      "off",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.dev.js"
      }
    }
  }
}
