{
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["flowtype", "import", "jest", "jsx-a11y", "react"],
  "rules": {
    "flowtype/generic-spacing": 0,
    "flowtype/space-after-type-colon": 0,
    "no-console": 1,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "t"
        ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "sort-imports": [
      "off",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "webpack": {
        "config": "./webpack.config-dev.js"
      }
    }
  }
}
